/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2017, 9:04:54 PM
    Author     : Arash
*/

.button {
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
}

.action {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
    float:left;
}

.action:hover{
    background-color:blue; /* Green */
    color: black;
}
.animated {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
    float:left;
}

.animated:hover{
    background-color:blue; /* Green */
    color: black;
}
.comedy {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
    float:left;
}

.comedy:hover{
    background-color:blue; /* Green */
    color: black;
}
.drama {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
}

.drama:hover{
    background-color:blue; /* Green */
    color: black;
}

.index {
    color: white;
}